<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="../web/css/styly.css" rel="stylesheet" />
    <title>SAINT PAUL DU TERRAY</title>
</head>

<body class="body">
<main class="main">

    <header-null class="header-null">
        <header class="header">
            <h1>SAINT PAUL DU TERRAY</h1>
            <menu-null class="menu-null">
                <div class="menu">
                    <a href="#" class="menu_link">Index</a>
                    <a href="#" class="menu_link">Manifestation</a>
                    <a href="#" class="menu_link">Facturation</a>
                    <a href="#" class="menu_link">Contact</a>
                </div>
            </menu-null>
        </header>
    </header-null>

        <h2> <b> Simulation de coût d'un voyage pour un enfant:</b> </h2>

            <sejour>
                <p>
                        {{ 'Famille '~simul.famNom~' avec '~simul.famNbEnfant~' enfant(s) et un quotient familial de '~simul.famQF~'€' }} </p>
                        {{ simul.simulNbEnfPartant~' enfant(s) partant en '~sejour.Intitule }} </p></h2>


                        {{ 'Prix brut du séjour individuel: '~sejour.Montant~'€' }} <br />
                        {{ 'Réduction sur Quotient Familial 10%: -'~simul.simulReducQF~'€' }}<br />
                        {{ 'Réduction famille par rapport au nombre d\'enfant: -'~simul.SimulReducFamilleNombreuse~'€' }}<br /> <br />

                        {{ 'Sous Total: '~simul.simulSousTotal~'€' }}<br /><br />

                        {{ 'Réduction départ de plusieurs enfants 10%: '~simul.simulReducDepartMultiple~'€' }} <br />
                        {{ 'Prix après réductions: '~simul.simulTotalApresReduc~'€' }}<br /><br />

                        <b>{{ 'Net à payer après plafonnement: '~simul.simulTotalApresPlafond~'€' }}</b><br /><br />

                        {{ 'Remarque : vous devrez verser au total '~simul.simulTotalApresPlafond~'*'~simul.simulNbEnfPartant~'='~simul.simulTotalDepartMultiple }}
            </sejour>


</main>

<footer class="footer">
    Copyright &copy; 2016 Saint paul du terray
</footer>

</body>

</html>
